name: Run Alembic
on: [workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]
        
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: 'projects/959426188245/locations/global/workloadIdentityPools/github-action-pool-1/providers/github-action-provider-1'
          service_account: 'artifact-repository-access@roomr-222721.iam.gserviceaccount.com'
      
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v0'
      
      - name: Configure Docker
        run: gcloud auth configure-docker --quiet

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install alembic dependencies
        run: |
          python -m pip install --upgrade pip
          pip install alembic
          pip install aiomysql
          pip install cryptography
      - name: Get Public IP Address of VM
        run: |
          PUBLIC_IP=$(gcloud compute instances describe mysql-instance-1 --zone=us-central1-a --format='get(networkInterfaces[0].accessConfigs[0].natIP)')
          echo $PUBLIC_IP

      - name: Checkout Lease Service
        uses: actions/checkout@v3
        with:
          repository: sneyd321/lease-service-v2
          path: lease-service

      - name: Run Lease Alembic
        working-directory: "lease-service"
        run: |
          python alembic_setup.py --user=test --password=homeowner --database=roomr --host=$PUBLIC_IP
          alembic revision --autogenerate
          alembic upgrade head
      - name: Delete Public IP
        if: always()
        run: |
          gcloud compute instances delete-access-config mysql-instance-1 --access-config-name="External NAT"

      
     
